<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
	<appSettings>
		<add key="connString" value="Server=tcp:comp2614.database.windows.net,1433;Initial Catalog=mc1720;User ID=student;Password=93nu5#S163;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"/>
	</appSettings>
</configuration>